[submodule "Mayan-Blue"]
	path = Mayan-Blue
	url = https://github.com/MX-SpeleoSurvey/Mayan-Blue
[submodule "Carris_Loft"]
	path = Carris_Loft
	url = https://github.com/MX-SpeleoSurvey/Carris_Loft
[submodule "Aktun-Hu"]
	path = Aktun-Hu
	url = git@github.com:MX-SpeleoSurvey/Aktun-Hu.git
